AI Content Creation (n8n + Telegram + Supabase + Airtable)/Content Creation, Approval and data save.json
{
  "name": "Content Creation, Approval and data save",
  "nodes": [
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve the specific persona, tone of voice guidelines, and past writing examples. Before writing any post, you MUST query this tool to ensure the output matches the authentic engineering style",
        "qdrantCollection": {
          "__rl": true,
          "value": "YOUR_QDRANT_COLLECTION_NAME",
          "mode": "list",
          "cachedResultName": "YOUR_QDRANT_COLLECTION_NAME"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [ 416, 912 ],
      "id": "70d654c5-e92f-49b6-a829-e5f26d9edeb6",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "YOUR_QDRANT_CRED_ID",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f8777bde-c507-4621-81b3-d3dd47ac5be1", "name": "final Title ", "value": "={{ $json.data['Title '] }}", "type": "string" },
            { "id": "f7027004-9733-4861-8d5b-8388a78654c2", "name": "Final Content", "value": "={{ $json.data['Content '] }}", "type": "string" },
            { "id": "596d61a5-9b78-4903-8a48-235e270cc1b1", "name": "$now", "value": "={{ $now }}", "type": "string" },
            { "id": "d6d19d73-1e50-4a29-ad3c-ffd107b450b6", "name": "Idea Input : ", "value": "={{ $('Telegram Trigger').item.json.message.text }}", "type": "string" },
            { "id": "9eac7ece-b528-4781-b0dc-1c073d412a6e", "name": "Draft Title", "value": "={{ $('Edit Fields1').item.json.title }}", "type": "string" },
            { "id": "7f48f848-27a0-4eeb-bf86-b914d5092221", "name": "Draft Content", "value": "={{ $('Edit Fields1').item.json.content }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 1008, 1200 ],
      "id": "bb5612e7-3a45-47d5-a9ac-26c76097ee98",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f5992e8b-d6fc-42db-b85a-7da0907c85e5", "name": "full_post", "value": "={{ $json.full_post }}", "type": "string" },
            { "id": "4502f450-702b-4354-8fda-0abf029afdf9", "name": "title", "value": "={{ $json.title }}", "type": "string" },
            { "id": "9b76f473-8ddb-4dcb-9248-76996c7f5c29", "name": "content", "value": "={{ $json.content }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 864, 688 ],
      "id": "4ea6512d-c0d6-4d15-8338-59aa5e255b53",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": { "maxTokensToSample": 1500, "temperature": 0.5 }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [ -64, 944 ],
      "id": "1fc7357e-5001-4f09-a224-5cd331e8100b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CRED_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an Elite Researcher. \n\nTopic: {{ $json.message.text }}\n\nYour Task:\n1. You MUST use the provided Scrape tool to read the following websites only once. Do not guess the information.\n- https://blog.n8n.io/\n\n2. Extract the latest updates, technical facts, and trends from those websites that are STRICTLY related to the Topic.\n\n3. After scraping, synthesize the information into a structured \"Researcher Brief\".\n\nCRITICAL OUTPUT RULES:\n- Output ONLY the Researcher Brief.\n- Do NOT write the final LinkedIn post.\n- Format your output exactly like this:\n\nResearcher Brief:\n- Key Technical Facts: [2-3 bullet points]\n- Actionable Points: [3 actionable takeaways]\n- ROI/Business Value: [How this solves a business problem or saves money]",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [ -64, 688 ],
      "id": "4c306327-0e5f-4cd8-ac7d-e95641d2150e",
      "name": "Researcher Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-oss-120b",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [ 288, 912 ],
      "id": "b3a5e1b6-52a8-4a93-a31e-69884eeea7d0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CRED_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Master Content Strategist and an Elite AI Automation Architect.\n\nHere is the structured information from our Researcher:\n{{ $json.output }}\n\nYour Task:\n1. MUST query the Qdrant tool to retrieve the specific engineering tone, vocabulary, and personal branding style.\n2. Turn the Researcher's information into a high-converting LinkedIn post.\n\nWriting Strategy & Tone:\n- ROI First: Focus on how this automation saves time and money for businesses.\n- Beginner-Friendly: Explain the tech simply.\n- The Connector: Write like a partner offering a high-value solution to clients. Position the author as the expert who builds n8n and learns about AI agents.\n\nCRITICAL OUTPUT RULES:\n- Start DIRECTLY with: TITLE: [Your Engaging Title]\n- Use natural line breaks, bold headings, and professional emojis as least as possible\n- Do NOT write \"Here is the post\" or any intro/outro.\n- End with a Call To Action (CTA) inviting them to connect for automation builds.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [ 320, 688 ],
      "id": "cb2d2d49-8c39-4006-abec-466b788d347b",
      "name": "Content Writer Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output || '';\n\nlet clean = raw\n  .replace(/^.*?here['']?s the post[:\\s]*/i, '')\n  .replace(/^based on[^.\\n]*[.\\n]*/i, '')\n  .replace(/^I can now write[^.\\n]*[.\\n]*/i, '')\n  .replace(/[*_\\[\\]`]/g, '') \n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nlet extractedTitle = \"New LinkedIn Post\"; \nlet extractedContent = clean;\n\nconst titleRegex = /^TITLE:\\s*(.*)/i;\nconst match = clean.match(titleRegex);\n\nif (match) {\n  extractedTitle = match[1].trim(); \n  extractedContent = clean.replace(titleRegex, '').trim(); \n}\n\nreturn { \n  json: { \n    full_post: clean, \n    title: extractedTitle, \n    content: extractedContent \n  } \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 656, 688 ],
      "id": "14d40703-82b7-4076-8930-8b13f98133a3",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "message": "=🤖 New Post Draft Ready!\nTitle : {{ $json.title }}\nContent : {{ $json.content }}​\nIf you want to discard, type \"skip\".",
        "responseType": "customForm",
        "formFields": {
          "values": [
            { "fieldLabel": "Title ", "defaultValue": "={{ $json.title }}" },
            { "fieldLabel": "Content ", "fieldType": "textarea", "defaultValue": "={{ $json.content }}" }
          ]
        },
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 912, 960 ],
      "id": "72c47459-d06e-4cc2-853d-813029776b14",
      "name": "Confirmation",
      "webhookId": "YOUR_WEBHOOK_ID_1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "YOUR_SUPABASE_TABLE_NAME",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "final_content", "fieldValue": "={{ $json['Final Content'] }}" },
            { "fieldId": "final_title", "fieldValue": "={{ $json['final Title '] }}" },
            { "fieldId": "draft_title", "fieldValue": "={{ $json['Draft Title'] }}" },
            { "fieldId": "draft_content", "fieldValue": "={{ $json['Draft Content'] }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 1216, 1200 ],
      "id": "7bf2bcab-c8e5-4c33-9554-c8b8a86559e6",
      "name": "Post Database",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Post Draft",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_AIRTABLE_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Final Title": "={{ $json.final_title }}",
            "Draft Title": "={{ $json.draft_title }}",
            "Draft Content": "={{ $json.draft_content }}",
            "Final Content": "={{ $json.final_content }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [ 1424, 1200 ],
      "id": "3e04af9d-7733-4627-9ca9-59e113a3457a",
      "name": "Post Dashboard",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CRED_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ successfully saved! 🚀 \nBoth the draft and final versions have been securely delivered to your Supabase Vault and Airtable Calendar.",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 1632, 1200 ],
      "id": "69af99aa-7280-4867-a79b-b3a989e8d2aa",
      "name": "successfully saved",
      "webhookId": "YOUR_WEBHOOK_ID_2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "🗑️ Draft discarded! No data has been saved to the database.",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 1008, 1424 ],
      "id": "d85af924-e3db-4a0e-a757-21cc6cf8ece7",
      "name": "Draft discarded.",
      "webhookId": "YOUR_WEBHOOK_ID_3",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [ "message" ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [ -512, 704 ],
      "id": "54689675-8b49-4b1b-a6cb-8142219454e8",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID_4",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "97d65504-25c0-4e0e-be2b-f133735707b6",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": "YOUR_TELEGRAM_CHAT_ID_NUMBER",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [ -304, 704 ],
      "id": "14d8ec09-4a7d-4f9e-9e54-3f7fdc8515b7",
      "name": "Secure Pass"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [ 496, 1120 ],
      "id": "bb2f7961-b2ae-4f3d-94a2-77ccb47d7b97",
      "name": "Embeddings",
      "credentials": {
        "ollamaApi": {
          "id": "YOUR_OLLAMA_CRED_ID",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to read the full content of a URL. \nInput should be a valid URL from search results.",
        "operation": "scrape",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "typeVersion": 1,
      "position": [ 64, 912 ],
      "id": "601c2a7f-e270-468b-aeae-a9a8f011c8ee",
      "name": "Scraper",
      "credentials": {
        "firecrawlApi": {
          "id": "YOUR_FIRECRAWL_CRED_ID",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [ { "id": "a98b6184-bb34-4c40-b136-96202effa2de", "leftValue": "={{ $json.data['Content '].trim().toLowerCase() }}", "rightValue": "skip", "operator": { "type": "string", "operation": "notEquals" } } ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [ 736, 1216 ],
      "id": "8f962641-3627-43ee-9dc7-a8125365385e",
      "name": "Decision Pass"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "gpt-oss-120b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [ 0, 1120 ],
      "id": "90ed0627-ba3f-4c2b-8132-f13b0568272c",
      "name": "Fall Back back-up",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CRED_ID",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Qdrant Vector Store": { "ai_tool": [ [ { "node": "Content Writer Agent", "type": "ai_tool", "index": 0 } ] ] },
    "Edit Fields1": { "main": [ [ { "node": "Confirmation", "type": "main", "index": 0 } ] ] },
    "Edit Fields": { "main": [ [ { "node": "Post Database", "type": "main", "index": 0 } ] ] },
    "Groq Chat Model": { "ai_languageModel": [ [ { "node": "Researcher Agent", "type": "ai_languageModel", "index": 0 } ] ] },
    "Researcher Agent": { "main": [ [ { "node": "Content Writer Agent", "type": "main", "index": 0 } ] ] },
    "OpenAI Chat Model": { "ai_languageModel": [ [ { "node": "Content Writer Agent", "type": "ai_languageModel", "index": 0 } ] ] },
    "Content Writer Agent": { "main": [ [ { "node": "Code", "type": "main", "index": 0 } ] ] },
    "Code": { "main": [ [ { "node": "Edit Fields1", "type": "main", "index": 0 } ] ] },
    "Confirmation": { "main": [ [ { "node": "Decision Pass", "type": "main", "index": 0 } ] ] },
    "Post Database": { "main": [ [ { "node": "Post Dashboard", "type": "main", "index": 0 } ] ] },
    "Post Dashboard": { "main": [ [ { "node": "successfully saved", "type": "main", "index": 0 } ] ] },
    "Telegram Trigger": { "main": [ [ { "node": "Secure Pass", "type": "main", "index": 0 } ] ] },
    "Secure Pass": { "main": [ [ { "node": "Researcher Agent", "type": "main", "index": 0 } ] ] },
    "Embeddings": { "ai_embedding": [ [ { "node": "Qdrant Vector Store", "type": "ai_embedding", "index": 0 } ] ] },
    "Scraper": { "ai_tool": [ [ { "node": "Researcher Agent", "type": "ai_tool", "index": 0 } ] ] },
    "Decision Pass": { "main": [ [ { "node": "Edit Fields", "type": "main", "index": 0 } ], [ { "node": "Draft discarded.", "type": "main", "index": 0 } ] ] },
    "Fall Back back-up": { "ai_languageModel": [ [ { "node": "Researcher Agent", "type": "ai_languageModel", "index": 1 } ] ] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "YOUR_ERROR_WORKFLOW_ID",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
