Automated Video Factory/Automated Video Factory.json
{
  "name": "Automated Video Factory",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "709fbce6-4a43-40c1-b4e4-c12e2b845aac",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "q": "trending tiktok gadgets 2026",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "ac18bf25-15af-4f8b-807b-5eb26cd4bab6",
      "name": "Google search",
      "credentials": {
        "serpApi": {
          "id": "hK7yfJqKe2LPGXiD",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "### ROLE\nProfessional Viral Video Director & E-commerce Marketing Expert.\n\n### STRICT RULES\n1. LANGUAGE: All outputs must be in ENGLISH ONLY. No other languages allowed.\n2. OUTPUT FORMAT: Respond strictly in the JSON structure defined by the Output Parser. Do not include conversational filler.\n\n### MASTER AVATAR REFERENCE\n\"A stunning 25-year-old Asian woman, professional model, long straight black hair, oval face, wearing stylish minimalist outfit, high-end studio lighting.\"\n\n### TASK\n1. ANALYZE DATA: Analyze the provided SerpApi results to identify the TOP 5 most trending products in the Asia market.\n2. SELECT PRODUCT: Choose the single best product with the highest viral potential.\n3. AD SCRIPTING: Write a high-converting 15-second English script (Voiceover) broken into 5 scenes.\n4. STORYBOARDING: Create 5 detailed shots for Image-to-Video production.\n\n### IMAGE PROMPT INSTRUCTION\nFor each shot, combine the [MASTER AVATAR REFERENCE] with the product interaction. \nExample: \"[MASTER AVATAR REFERENCE] using [Product Name], close-up shot, 8k cinematic lighting.\"\n\n### DATA FIELDS REQUIRED\n- trending_top_5: List of 5 products with names and reasons.\n- final_selection: The chosen product's name and its primary hook.\n- ad_script_english: 5 scenes of voiceover text.\n- shot_list: 5 objects containing scene number, image_prompt, and motion suggestion.",
        "options": {
          "systemMessage": "### ROLE\nProfessional Viral Video Director & E-commerce Marketing Expert.\n\n### STRICT RULES\n1. LANGUAGE: All outputs must be in ENGLISH ONLY. No other languages allowed.\n2. OUTPUT FORMAT: Respond strictly in the JSON structure defined by the Output Parser. Do not include conversational filler.\n\n### MASTER AVATAR REFERENCE\n\"A stunning 25-year-old Asian woman, professional model, long straight black hair, oval face, wearing stylish minimalist outfit, high-end studio lighting.\"\n\n### TASK\n1. ANALYZE DATA: Analyze the provided SerpApi results to identify the TOP 5 most trending products in the Asia market.\n2. SELECT PRODUCT: Choose the single best product with the highest viral potential.\n3. AD SCRIPTING: Write a high-converting 15-second English script (Voiceover) broken into 5 scenes.\n4. STORYBOARDING: Create 5 detailed shots for Image-to-Video production.\n\n### IMAGE PROMPT INSTRUCTION\nFor each shot, combine the [MASTER AVATAR REFERENCE] with the product interaction. \nExample: \"[MASTER AVATAR REFERENCE] using [Product Name], close-up shot, 8k cinematic lighting.\"\n\n### DATA FIELDS REQUIRED\n- trending_top_5: List of 5 products with names and reasons.\n- final_selection: The chosen product's name and its primary hook.\n- ad_script_english: 5 scenes of voiceover text.\n- shot_list: 5 objects containing scene number, image_prompt, and motion suggestion."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "33d2c886-cf35-4199-9417-88e62ce87211",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "3dc92d3c-3dbc-4aa9-a732-2ed956a042e8",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "JKdVQwLIZz4rwzCR",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"trending_top_5\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"reason\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"final_selection\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"product_name\": { \"type\": \"string\" },\n        \"viral_hook\": { \"type\": \"string\" }\n      }\n    },\n    \"ad_script_english\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"scene\": { \"type\": \"number\" },\n          \"voiceover_text\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"shot_list\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"scene_number\": { \"type\": \"number\" },\n          \"image_prompt\": { \"type\": \"string\" },\n          \"camera_angle\": { \"type\": \"string\" },\n          \"motion\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "8f081ce3-864b-421d-84b0-9cb3703c99fa",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        704,
        208
      ],
      "id": "9aedc4f4-84b7-4f7c-9115-d4b90aec2610",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "JKdVQwLIZz4rwzCR",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.shot_list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "id": "7471167d-ec19-44bf-a92d-affca437cd73",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        0
      ],
      "id": "273a0d3c-edeb-47c4-89cb-375879879a44",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"Character Reference: https://cdn.discordapp.com/attachments/1431524845019205697/1459923457893466237/1768143233400.jpg?ex=69650b2c&is=6963b9ac&hm=8921d4179748ec02278fa887ce735035e9109ab1c833ff05d3d08d4fc60feedf& , Prompt: {{ $json.image_prompt }}\",\n  \"parameters\": {\n    \"guidance_scale\": 3.5\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1536,
        96
      ],
      "id": "0756e64e-2ecd-41b2-a041-2a3c2afbf2e0",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bbziSbGFUn6gWxDS",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        1744,
        96
      ],
      "id": "80984f38-41b5-43e9-8bff-61c5511b01aa",
      "name": "Upload an asset from file data",
      "credentials": {
        "cloudinaryApi": {
          "id": "l1mJDh8zmXe5sRDL",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lumalabs.ai/dream-machine/v1/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1952,
        96
      ],
      "id": "d61d9e87-dd6f-4ec7-8ece-b26ad8ffba55",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google search": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload an asset from file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e698df41-7692-47a3-a068-a441a55d8299",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5be75e3cc304e5657a31c0239c6d3da417296cb23afe6c1e2d21f6607f4d0ea3"
  },
  "id": "QZA8Vr8vJKGvU56X",
  "tags": []
}
