AI Lead Nurturing CRM - Airtable + Sheets
{
  "name": "AI Lead Nurturing CRM - Airtable + Sheets",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json['Full Name'] }}",
            "Email": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json['Email Address'] }}",
            "Company": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json['Company Name'] }}",
            "Budget": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json['Monthly Budget (USD)'] }}",
            "Needs": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json['What do you need automated?'] }}",
            "Score": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.score }}",
            "Reason": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.reason }}",
            "Deal Name": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.deal_name }}",
            "Deal AmountN": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.deal_amount }}",
            "Date": "={{ $now.toFormat('yyyy-MM-dd HH:mm') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [ 3008, 4224 ],
      "id": "57717a3e-a200-41c6-8ef4-4cfde520fdb5",
      "name": "Airtable: Create Lead Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CRED_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Get a Free Automation Consultation",
        "formDescription": "Tell us about your business. We'll show you how AI automation saves you 10+ hours per week.",
        "formFields": {
          "values": [
            { "fieldLabel": "Full Name", "requiredField": true },
            { "fieldLabel": "Email Address", "fieldType": "email", "requiredField": true },
            { "fieldLabel": "Company Name", "requiredField": true },
            { "fieldLabel": "Monthly Budget (USD)", "fieldType": "dropdown", "fieldOptions": { "values": [ { "option": "Under $500" }, { "option": "$500 - $1,000" }, { "option": "$1,000 - $3,000" }, { "option": "$3,000+" } ] }, "requiredField": true },
            { "fieldLabel": "What do you need automated?", "fieldType": "textarea", "requiredField": true }
          ]
        },
        "options": {
          "appendAttribution": false,
          "respondWithOptions": { "values": { "formSubmittedText": "Thank you! We will be in touch within 24 hours." } }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [ 640, 4272 ],
      "id": "332c2c81-566c-4d52-9ed0-f49a55c70551",
      "name": "Form: Consultation Request",
      "webhookId": "YOUR_WEBHOOK_ID_1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "316c2b08-b26b-42f5-abab-3d6094a3c11c", "name": "Full Name", "value": "={{ $json['Full Name'] }}", "type": "string" },
            { "id": "36ad2385-fdab-45f0-8f3b-b643ffef6cd0", "name": "Email Address", "value": "={{ $json['Email Address'] }}", "type": "string" },
            { "id": "62f7ff2c-bd3f-4365-861a-017a13154870", "name": "Company Name", "value": "={{ $json['Company Name'] }}", "type": "string" },
            { "id": "c3755caf-22aa-4c93-acd5-481a5a172b41", "name": "Monthly Budget (USD)", "value": "={{ $json['Monthly Budget (USD)'] }}", "type": "string" },
            { "id": "a2b00d61-202a-47be-973e-be2b4b19141f", "name": "What do you need automated?", "value": "={{ $json['What do you need automated?'] }}", "type": "string" },
            { "id": "bce89138-52ed-471a-8ad4-5cc2575e9abe", "name": "submittedAt", "value": "={{ $json.submittedAt }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 864, 4272 ],
      "id": "52072b63-f92a-4009-91e1-588765c48238",
      "name": "Edit Fields: Normalize Lead Data1"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [ { "id": "email-check", "leftValue": "={{ $json['Email Address'] }}", "rightValue": "@", "operator": { "type": "string", "operation": "contains" } } ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [ 1088, 4272 ],
      "id": "110c1345-86e9-4aac-b283-c41bbfe6003c",
      "name": "IF: Valid Email?1"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=⚠️ Invalid Lead Rejected\n\nEmail: {{ $('Edit Fields: Normalize Lead Data1').item.json['Email Address'] }}\nName: {{ $('Edit Fields: Normalize Lead Data1').item.json['Company Name'] }}\n\nNo @ in email — lead discarded.",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 1376, 4416 ],
      "id": "2037dd69-24ec-4b8d-82bf-14a6995a1f5d",
      "name": "Telegram: ❌ Invalid Email Alert1",
      "webhookId": "YOUR_WEBHOOK_ID_2",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a B2B lead qualification specialist.\n\nAnalyze this lead and return ONLY a valid JSON object — no markdown, no explanation, no preamble:\n\nLead Info:\n- Name: {{ $json['Full Name'] }}\n- Company: {{ $json['Company Name'] }}\n- Budget: {{ $json['Monthly Budget (USD)'] }}\n- Needs: {{ $json['What do you need automated?'] }}\n\nReturn ONLY this JSON. Write all string values as single continuous text with NO line breaks inside:\n{\n  \"score\": 90,\n  \"tier\": \"Hot\",\n  \"reason\": \"max 15 words plain text only\",\n  \"deal_name\": \"Company needs summary max 8 words\",\n  \"deal_amount\": 5000,\n  \"email_subject_d1\": \"Compelling subject line max 60 chars\",\n  \"email_body_d1\": \"3 short paragraphs personalized plain text no markdown max 150 words written as one continuous block\",\n  \"email_subject_d3\": \"Day 3 follow-up subject max 60 chars\",\n  \"email_body_d3\": \"2 paragraphs case study angle plain text max 120 words one continuous block\",\n  \"email_subject_d7\": \"Day 7 final CTA subject max 60 chars\",\n  \"email_body_d7\": \"2 paragraphs strong CTA to book a call plain text max 100 words one continuous block\"\n}\n\nScoring rules:\n- Budget $3,000+ AND clear needs = score 85-100 (Hot)\n- Budget $1,000-$3,000 AND clear needs = score 70-84 (Hot)\n- Budget $500-$1,000 OR vague needs = score 50-69 (Warm)\n- Under $500 OR very unclear = score 0-49 (Cold)\n\nDeal amount: Under $500=300, $500-$1000=750, $1000-$3000=2000, $3000+=5000\n\nPersonalize all emails using name, company, and needs. Plain text only. No line breaks inside string values.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [ 1312, 4016 ],
      "id": "c07c502e-ed1e-4762-9073-f24cf10d3189",
      "name": "AI Agent: Score + Generate Email Sequence"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": { "maxTokensToSample": 3000, "temperature": 0.3 }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [ 1328, 4240 ],
      "id": "8fc1476c-8d90-41b5-8d5f-805fe2799900",
      "name": "LLM: Groq llama-3.3-70b",
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CRED_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 90,\n  \"tier\": \"Hot\",\n  \"reason\": \"Clear needs and high budget\",\n  \"deal_name\": \"Company AI Automation Project\",\n  \"deal_amount\": 5000,\n  \"email_subject_d1\": \"Automate your workflow today\",\n  \"email_body_d1\": \"Hi Victor, thank you for reaching out about automation. We specialize in saving businesses 10 plus hours per week using n8n automation. Reply or book a free call at https://victorn8n.click\",\n  \"email_subject_d3\": \"How we helped a company like yours\",\n  \"email_body_d3\": \"Hi Victor, following up on my previous email. One of our clients saved 30 percent operational costs using n8n automation. Book a free 30-min call at https://victorn8n.click\",\n  \"email_subject_d7\": \"Last chance to automate your workflows\",\n  \"email_body_d7\": \"Hi Victor, this is my final follow-up. If you are ready to automate book a free call here: https://victorn8n.click\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [ 1456, 4240 ],
      "id": "c0046eed-82e7-49a7-9aba-a8bb01cbda6d",
      "name": "Structured Output Parser: AI JSON1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "84635fc2-6121-4789-9fac-acca19d6abd4", "name": "Full Name", "value": "={{ $('IF: Valid Email?1').item.json['Full Name'] }}", "type": "string" },
            { "id": "a154cea7-4f46-484f-b7bd-bb49e0095d63", "name": "Email Address", "value": "={{ $('IF: Valid Email?1').item.json['Email Address'] }}", "type": "string" },
            { "id": "fff33e30-fe83-4045-9bdd-10d7c82bc2d9", "name": "Company Name", "value": "={{ $('IF: Valid Email?1').item.json['Company Name'] }}", "type": "string" },
            { "id": "49f5405f-8037-49a0-95ca-53f72461aa85", "name": "Monthly Budget (USD)", "value": "={{ $('IF: Valid Email?1').item.json['Monthly Budget (USD)'] }}", "type": "string" },
            { "id": "eacadd77-e7fe-455f-b63a-703f89e62f26", "name": "What do you need automated?", "value": "={{ $('IF: Valid Email?1').item.json['What do you need automated?'] }}", "type": "string" },
            { "id": "4ed61dd9-6485-4d1b-9597-86050e83eda6", "name": "submittedAt", "value": "={{ $('IF: Valid Email?1').item.json.submittedAt }}", "type": "string" },
            { "id": "58b70a07-af36-4813-be86-bf1d1cdf4159", "name": "output.score", "value": "={{ $json.output.score }}", "type": "number" },
            { "id": "aff1f447-0076-44f2-bc0f-f998065c01c5", "name": "output.tier", "value": "={{ $json.output.tier }}", "type": "string" },
            { "id": "36b17a4c-8b95-4a87-8413-a41629504af5", "name": "output.reason", "value": "={{ $json.output.reason }}", "type": "string" },
            { "id": "424f8ecc-1302-4a9d-9e04-b95f46959d26", "name": "output.deal_name", "value": "={{ $json.output.deal_name }}", "type": "string" },
            { "id": "f43ec190-915d-4c8c-8fac-611002b05e2d", "name": "output.deal_amount", "value": "={{ $json.output.deal_amount }}", "type": "number" },
            { "id": "e0bbe1c8-7f27-477b-a1e9-223e35933f48", "name": "output.email_subject_d1", "value": "={{ $json.output.email_subject_d1 }}", "type": "string" },
            { "id": "3e6977ab-bd7e-4878-8d36-4b6ab5bc020f", "name": "output.email_body_d1", "value": "={{ $json.output.email_body_d1 }}", "type": "string" },
            { "id": "c7c861b3-b194-473d-8747-1febb54d79b4", "name": "output.email_subject_d3", "value": "={{ $json.output.email_subject_d3 }}", "type": "string" },
            { "id": "07dfd50f-c864-4c46-a1b0-7306076e4724", "name": "output.email_body_d3", "value": "={{ $json.output.email_body_d3 }}", "type": "string" },
            { "id": "2ab9e7ec-cebb-4c44-9baf-513d0f9ef5ed", "name": "output.email_subject_d7", "value": "={{ $json.output.email_subject_d7 }}", "type": "string" },
            { "id": "c149f78d-72fb-413f-804e-c6f261fa9991", "name": "output.email_body_d7", "value": "={{ $json.output.email_body_d7 }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 1664, 4128 ],
      "id": "46276c5c-89af-45a1-9ba8-09fa9f68264f",
      "name": "Edit Fields: Merge Lead + AI Data1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_URL_HERE",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $workflow.id }}",
            "Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Company": "={{ $json['Company Name'] }}",
            "Budget": "={{ $json['Monthly Budget (USD)'] }}",
            "Needs": "={{ $json['What do you need automated?'] }}",
            "Score": "={{ $json.output.score }}",
            "Tier": "={{ $json.output.tier }}",
            "Reason": "={{ $json.output.reason }}",
            "Status": "Sequence Started",
            "Date": "={{ $now.toFormat('yyyy-MM-dd HH:mm') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [ 1888, 4128 ],
      "id": "6a38468b-9d8c-43c0-a4d6-ac680e479991",
      "name": "Google Sheets: Log Lead to CRM Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [ { "id": "hot-check", "leftValue": "={{ $json.Score }}", "rightValue": 70, "operator": { "type": "number", "operation": "gte" } } ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [ 2112, 4128 ],
      "id": "a59777c5-bea9-4a2e-a935-c626723e9690",
      "name": "IF: Hot Lead? (Score >= 70)"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🔥 HOT LEAD — Act Now!\n\n👤 Name:{{ $('Edit Fields: Merge Lead + AI Data1').item.json['Full Name'] }}\n🏢 Company: {{ $('Edit Fields: Merge Lead + AI Data1').item.json['Company Name'] }}\n📧 Email:{{ $('Edit Fields: Merge Lead + AI Data1').item.json['Email Address'] }}\n💰 Budget: {{ $('Edit Fields: Merge Lead + AI Data1').item.json['Monthly Budget (USD)'] }}\n🎯 Needs: {{ $('Edit Fields: Merge Lead + AI Data1').item.json['What do you need automated?'] }}\n📊 Score: {{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.score }}/100 ({{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.tier }})\n💡 Reason: {{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.reason }}\n💵 Est. Deal: ${{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.deal_amount }}\n🆔 Lead ID: {{ $workflow.id }}\n\n✅ Airtable + Sheets logged. Day 1 email sending.\n👉 Follow up within 2 hours!",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 2336, 4128 ],
      "id": "33c2df8a-1283-4f27-978a-c4a822b5d9ed",
      "name": "Telegram: 🔥 Hot Lead Alert (Immediate)",
      "webhookId": "YOUR_WEBHOOK_ID_3",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json['Email Address'] }}",
        "subject": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.email_subject_d1 }}",
        "message": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.email_body_d1 }}",
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [ 3232, 4224 ],
      "id": "1f7e2393-8a73-4264-bcc5-947f0d3beb79",
      "name": "Gmail: Day 1 — Welcome + Value Email",
      "webhookId": "YOUR_WEBHOOK_ID_4",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [ 3456, 4224 ],
      "id": "ddf46e25-dbcb-4138-877a-24d1af80b0ab",
      "name": "Wait: 2 Days (Before Day 3 Email)",
      "webhookId": "crm-wait-2days"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json['Email Address'] }}",
        "subject": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.email_subject_d3 }}",
        "message": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.email_body_d3 }}",
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [ 3680, 4224 ],
      "id": "7abb0cc4-b5a9-4128-9d71-f83836100134",
      "name": "Gmail: Day 3 — Case Study Follow-up",
      "webhookId": "YOUR_WEBHOOK_ID_5",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=📬 Day 3 Email Sent\n\n👤 {{ $('Edit Fields: Merge Lead + AI Data1').item.json['Full Name'] }}\n📊 Score: {{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.score }}/100 ({{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.tier }})\n📧 {{ $('Edit Fields: Merge Lead + AI Data1').item.json['Email Address'] }}\n🆔 {{ $('Airtable: Create Lead Record').item.json.id }}\n\nDay 7 final email sends in 4 days.",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 3904, 4224 ],
      "id": "92e14230-a602-4426-9d3b-f76207afd746",
      "name": "Telegram: Day 3 Email Sent (Progress Update)",
      "webhookId": "YOUR_WEBHOOK_ID_6",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [ 4128, 4224 ],
      "id": "a295bd15-9a84-4906-b474-8a7c188e68f6",
      "name": "Wait: 4 Days (Before Day 7 Final Email)",
      "webhookId": "crm-wait-4days"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json['Email Address'] }}",
        "subject": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.email_subject_d7 }}",
        "message": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.email_body_d7 }}",
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [ 4352, 4224 ],
      "id": "1787da57-c608-4226-83ff-556bd8b07b9b",
      "name": "Gmail: Day 7 — Final CTA (Book a Call)",
      "webhookId": "YOUR_WEBHOOK_ID_7",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ Sequence COMPLETE!\n\n👤 {{ $('Edit Fields: Merge Lead + AI Data1').item.json['Full Name'] }}\n🏢 {{ $('Edit Fields: Merge Lead + AI Data1').item.json['Company Name'] }}\n📧 {{ $('Edit Fields: Merge Lead + AI Data1').item.json['Email Address'] }}\n📊 {{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.score }}/100 ({{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.tier }})\n💵 Est. Deal: ${{ $('Edit Fields: Merge Lead + AI Data1').item.json.output.deal_amount }}\n🆔 {{ $('Airtable: Create Lead Record').item.json.id }}\n\n📨 3 emails sent over 7 days.\n📋 Airtable + Google Sheets updated.\n\nIf no reply — follow up via LinkedIn.",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 4800, 4224 ],
      "id": "e96265c2-edad-422f-aa57-cd2bd5a39255",
      "name": "Telegram: ✅ Sequence Complete Summary",
      "webhookId": "YOUR_WEBHOOK_ID_8",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Status Complete",
            "id": "={{ $('Airtable: Create Lead Record').item.json.id }}"
          },
          "matchingColumns": [ "id" ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [ 4576, 4224 ],
      "id": "96f9afaf-76de-4076-92c3-eaeca9d823f9",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CRED_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const totalLeads = 1;\nconst isHot = $('Edit Fields: Merge Lead + AI Data1').item.json.output.score >= 70 ? 1 : 0;\n\nreturn {\n  json: {\n    total_leads_today: totalLeads,\n    hot_leads: isHot,\n    cold_leads: totalLeads - isHot,\n    estimated_deal_value: $('Edit Fields: Merge Lead + AI Data1').item.json.output.deal_amount || 0,\n    message: `Today: ${totalLeads} new lead | Hot: ${isHot} | Est. Value: $${$('Edit Fields: Merge Lead + AI Data1').item.json.output.deal_amount || 0}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 5024, 4224 ],
      "id": "bde01589-89bf-4b0f-b070-98b39eb49e19",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [ { "id": "eac27518-bcee-4001-9630-0d79d5e4d242", "leftValue": "={{ $('Edit Fields: Merge Lead + AI Data1').item.json['Email Address'] }}", "rightValue": 0, "operator": { "type": "string", "operation": "empty", "singleValue": true } } ],
          "combinator": "and"
        },
        "looseTypeValidation": "",
        "options": { "ignoreCase": false }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [ 2784, 4128 ],
      "id": "af67cd1a-6ddd-4409-8410-d302bdc4a554",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID"
        },
        "filterByFormula": "={Email} = \"{{ $('Edit Fields: Merge Lead + AI Data1').item.json['Email Address'] }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [ 2560, 4128 ],
      "id": "9285bad4-a18b-4fff-ad3e-b33791976066",
      "name": "Check duplicate",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CRED_ID",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Check duplicate').item.json.id }}",
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Needs": "={{ $json.Needs }}"
          },
          "matchingColumns": [ "id" ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [ 3008, 4032 ],
      "id": "4a5abaaf-e410-455d-b3d4-a9bbd884de51",
      "name": "update",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CRED_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 5248, 4224 ],
      "id": "fe30f671-1fe5-4f4b-b226-5969c5560d34",
      "name": "Telegram: ✅ Sequence Complete Summary1",
      "webhookId": "YOUR_WEBHOOK_ID_9",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Airtable: Create Lead Record": { "main": [ [ { "node": "Gmail: Day 1 — Welcome + Value Email", "type": "main", "index": 0 } ] ] },
    "Form: Consultation Request": { "main": [ [ { "node": "Edit Fields: Normalize Lead Data1", "type": "main", "index": 0 } ] ] },
    "Edit Fields: Normalize Lead Data1": { "main": [ [ { "node": "IF: Valid Email?1", "type": "main", "index": 0 } ] ] },
    "IF: Valid Email?1": { "main": [ [ { "node": "AI Agent: Score + Generate Email Sequence", "type": "main", "index": 0 } ], [ { "node": "Telegram: ❌ Invalid Email Alert1", "type": "main", "index": 0 } ] ] },
    "AI Agent: Score + Generate Email Sequence": { "main": [ [ { "node": "Edit Fields: Merge Lead + AI Data1", "type": "main", "index": 0 } ] ] },
    "LLM: Groq llama-3.3-70b": { "ai_languageModel": [ [ { "node": "AI Agent: Score + Generate Email Sequence", "type": "ai_languageModel", "index": 0 } ] ] },
    "Edit Fields: Merge Lead + AI Data1": { "main": [ [ { "node": "Google Sheets: Log Lead to CRM Sheet", "type": "main", "index": 0 } ] ] },
    "IF: Hot Lead? (Score >= 70)": { "main": [ [ { "node": "Telegram: 🔥 Hot Lead Alert (Immediate)", "type": "main", "index": 0 } ] ] },
    "Gmail: Day 1 — Welcome + Value Email": { "main": [ [ { "node": "Wait: 2 Days (Before Day 3 Email)", "type": "main", "index": 0 } ] ] },
    "Wait: 2 Days (Before Day 3 Email)": { "main": [ [ { "node": "Gmail: Day 3 — Case Study Follow-up", "type": "main", "index": 0 } ] ] },
    "Gmail: Day 3 — Case Study Follow-up": { "main": [ [ { "node": "Telegram: Day 3 Email Sent (Progress Update)", "type": "main", "index": 0 } ] ] },
    "Wait: 4 Days (Before Day 7 Final Email)": { "main": [ [ { "node": "Gmail: Day 7 — Final CTA (Book a Call)", "type": "main", "index": 0 } ] ] },
    "Gmail: Day 7 — Final CTA (Book a Call)": { "main": [ [ { "node": "Update record", "type": "main", "index": 0 } ] ] },
    "Update record": { "main": [ [ { "node": "Telegram: ✅ Sequence Complete Summary", "type": "main", "index": 0 } ] ] },
    "Structured Output Parser: AI JSON1": { "ai_outputParser": [ [ { "node": "AI Agent: Score + Generate Email Sequence", "type": "ai_outputParser", "index": 0 } ] ] },
    "Code in JavaScript": { "main": [ [ { "node": "Telegram: ✅ Sequence Complete Summary1", "type": "main", "index": 0 } ] ] },
    "If": { "main": [ [ { "node": "update", "type": "main", "index": 0 } ], [ { "node": "Airtable: Create Lead Record", "type": "main", "index": 0 } ] ] },
    "Check duplicate": { "main": [ [ { "node": "If", "type": "main", "index": 0 } ] ] },
    "Google Sheets: Log Lead to CRM Sheet": { "main": [ [ { "node": "IF: Hot Lead? (Score >= 70)", "type": "main", "index": 0 } ] ] },
    "Telegram: 🔥 Hot Lead Alert (Immediate)": { "main": [ [ { "node": "Check duplicate", "type": "main", "index": 0 } ] ] },
    "Telegram: Day 3 Email Sent (Progress Update)": { "main": [ [ { "node": "Wait: 4 Days (Before Day 7 Final Email)", "type": "main", "index": 0 } ] ] },
    "Telegram: ✅ Sequence Complete Summary": { "main": [ [ { "node": "Code in JavaScript", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
