Automated Job Hunter.json
{
  "name": "demo finding job with schedule trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        128
      ],
      "id": "f5e5d4b2-ca6d-4f4d-84e5-875664cff5b6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// HTTP Request node ကနေ ရလာတဲ့ XML text ကို ယူခြင်း\n// n8n v1+ မှာ အရှေ့ node က data ကို $input.first().json ထဲမှာ သိမ်းပါတယ်\nconst xmlText = $input.first().json.data; \n\n// XML ထဲက <item> tag တစ်ခုချင်းစီကို ခွဲထုတ်ခြင်း\nconst items = xmlText.match(/<item>[\\s\\S]*?<\\/item>/g) || [];\n\nconst filteredJobs = [];\n\nfor (const item of items) {\n    // Title နဲ့ Link ကို Extract လုပ်ခြင်း\n    const titleMatch = item.match(/<title><!\\[CDATA\\[(.*?)\\]\\]><\\/title>/) || item.match(/<title>(.*?)<\\/title>/);\n    const linkMatch = item.match(/<link>(.*?)<\\/link>/);\n    \n    const title = titleMatch ? titleMatch[1] : '';\n    const link = linkMatch ? linkMatch[1] : '';\n\n    // Filter Logic: \"Python\" သို့မဟုတ် \"Junior\" ပါ၊ မပါ စစ်ခြင်း\n    if (title.toLowerCase().includes('python') || title.toLowerCase().includes('junior')) {\n        filteredJobs.push({\n            json: {\n                job_title: title,\n                link: link\n            }\n        });\n    }\n}\n\n// ရလဒ်များကို return ပြန်ခြင်း\nreturn filteredJobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        128
      ],
      "id": "7f3e30d0-7ef2-43b4-80e1-aeb02b79fe7a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://weworkremotely.com/categories/remote-back-end-programming-jobs.rss",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        128
      ],
      "id": "a2622a54-331a-45dd-a815-2d5fec09b6de",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful job assistant.\nHere is the Job Title: {{ $json.job_title }}\nHere is the Link: {{ $json.link }}\n\nTask: You are an expert copywriter helping me write a cover letter. I need you to write a cover letter for the position of {{ $json.job_title }} at [INSERT COMPANY NAME HERE].\n\nCRITICAL INSTRUCTIONS (Read Carefully):\n1.  Tone: Write in a conversational, professional yet human tone. Avoid being overly formal or robotic. Write as if you are emailing a respected colleague.\n2.  Sentence Structure (Burstiness): You MUST vary your sentence length. Use some very short, punchy sentences. Then use longer, more complex ones. Do not use a repetitive structure.\n3.  Vocabulary Ban: Do NOT use the following \"AI-sounding\" words:\n    - Delve, Realm, Landscape, Tapestry, Testament to, Underscore, Spearhead, Foster, Seamlessly, Pivotal, Game-changer.\n4.  Structure:\n    - Opening: Don't start with \"I am writing to apply...\". Start with a \"Hook\" (e.g., why I admire the company or a specific problem I solve).\n    - Middle: Focus on [INSERT my TOP SKILL, e.g., Python Automation] and mention a specific result.\n    - Closing: Confident, short, and call to action.\n\n\nGOAL:\nWrite a draft that gets a low score on AI detectors. Keep it under 250 words.\n\nVERY IMPORTANT OUTPUT RULE:\nDo not output JSON format. Write a clean, professional cover letter like i mention. Do not add any footers like 'sent automatically by n8n'\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        944,
        144
      ],
      "id": "00832047-a639-4e61-9d57-5b12b52a15d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "919432208",
        "text": "=🔥 *New Job Alert*\n\nJob Title = {{ $('Loop Over Items').item.json.job_title }}\n\nLink = {{ $('Loop Over Items').item.json.link }}\n{{ $json.output }}\n\n",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        144
      ],
      "id": "eca231e3-e3c3-4b18-8ccc-56a78c859985",
      "name": "Send a text message",
      "webhookId": "7d16df3a-5453-4b8c-af72-b117f207caa0",
      "credentials": {
        "telegramApi": {
          "id": "lIdnYF8E2qK7BfYa",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        944,
        368
      ],
      "id": "9ec9400b-17e1-4550-b2ba-c69298ccd7f5",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "JKdVQwLIZz4rwzCR",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        128
      ],
      "id": "9e64949e-b5c5-457b-b251-2addfa39022e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1376,
        400
      ],
      "id": "f1d45147-a80f-4a48-bcdc-100ea10123a8",
      "name": "Wait",
      "webhookId": "fd4a0fcf-4a63-421a-8af1-b1b6f9e58e6a"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6e00afc2-1ee2-432c-a1a4-d87061fb3d52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5be75e3cc304e5657a31c0239c6d3da417296cb23afe6c1e2d21f6607f4d0ea3"
  },
  "id": "c3hHN9Ws33WKisNl",
  "tags": []
}