Content creator.json
{
  "name": "Content creator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8c24e576-7482-4a10-9583-0ae9eae29698",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "74722922-38e7-40f4-837b-dbd41b3da258",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "7d3cafb4-bace-4e7a-8e7e-c1828dd538e1",
      "name": "Limit"
    },
    {
      "parameters": {
        "chatId": "919432208",
        "text": "={{ $json.output }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Topic 1 ",
                    "additionalFields": {
                      "callback_data": "1"
                    }
                  },
                  {
                    "text": "Topic 2",
                    "additionalFields": {
                      "callback_data": "2"
                    }
                  },
                  {
                    "text": "Topic 3",
                    "additionalFields": {
                      "callback_data": "3"
                    }
                  },
                  {
                    "text": "Topic 4",
                    "additionalFields": {
                      "callback_data": "4"
                    }
                  },
                  {
                    "text": "Topic 5",
                    "additionalFields": {
                      "callback_data": "5"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        0
      ],
      "id": "49140af2-96c0-4ccc-b73e-0286027b2c7d",
      "name": "Send a text message",
      "webhookId": "ecc50f2a-dec9-4c32-9e5c-3b3b02381b68",
      "credentials": {
        "telegramApi": {
          "id": "lIdnYF8E2qK7BfYa",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the raw news data:\n{{ JSON.stringify($json.news_list) }}\n\nInstructions:\n1. Analyze the data above.\n2. Select top 5 interesting AI topics.\n3. Write a short English summary (2 sentences) for each.\n4. Output Format:\n- Topic: [Title]\n  Summary: [Content]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        0
      ],
      "id": "b9691405-824e-464e-b98a-19c744e39cc7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        768,
        192
      ],
      "id": "f0af87b8-c85d-4fe0-8a71-b6081af66809",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "JKdVQwLIZz4rwzCR",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "news_list",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "263d6ff6-65c9-4364-8552-08888fab7304",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "0xC8BFGltlTItJBU"
  },
  "versionId": "e955428c-18a8-420b-9ec2-c6f5a04a16db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5be75e3cc304e5657a31c0239c6d3da417296cb23afe6c1e2d21f6607f4d0ea3"
  },
  "id": "dqUwKorNN2I0EbHK",
  "tags": []
}