tele to notion.json
{
  "name": "tele to notion",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "cdc812c0-a94f-4fee-8a98-61ce4ece1db2",
      "name": "Telegram Trigger",
      "webhookId": "d604df4f-6f15-4998-9c74-5efd8bcd22f4",
      "credentials": {
        "telegramApi": {
          "id": "lIdnYF8E2qK7BfYa",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional Tech Content Writer.\n\nCONTEXT:\nI will provide a source text containing a list of news topics.\nThe user selected a specific Topic Number.\n\nINPUT DATA:\n- User Selected Topic Number: {{ $json.callback_query.data }}\n- Source Text List: {{ $json.callback_query.message.text }}\n\nTASK:\n1. Locate the topic in the \"Source Text List\" that matches the \"User Selected Topic Number\".\n2. Write a comprehensive Facebook Post (in English) about that specific topic.\n3. Use a catchy headline and emojis 🤖.\n4. Do NOT output the other topics. Just the one selected.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        0
      ],
      "id": "07d428b4-fd41-435b-9a4a-3e978633608a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "e278ab5e-d0bd-48e9-a73c-964da3bcefbc",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "JKdVQwLIZz4rwzCR",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $('AI Agent').item.json.output }}?model=flux",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        0
      ],
      "id": "cb7e0614-36ae-4966-ad19-42b8c1bca447",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "919432208",
        "file": "=https://image.pollinations.ai/prompt/{{ encodeURIComponent($('AI Agent').item.json.output.slice(0, 500)) }}?model=flux",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve & Post",
                    "additionalFields": {
                      "callback_data": "post_to_facebook"
                    }
                  },
                  {
                    "text": "Rewrite",
                    "additionalFields": {
                      "callback_data": "rewrite"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        0
      ],
      "id": "e1c7f00c-fee0-4291-ab54-113c33314e07",
      "name": "Send a photo message",
      "webhookId": "61eb02b8-06d2-4d1d-bb00-e411fb8823a0",
      "credentials": {
        "telegramApi": {
          "id": "lIdnYF8E2qK7BfYa",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "919432208",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        0
      ],
      "id": "233b7b6b-2df8-45ec-a0cc-d002bad4c8af",
      "name": "Send a text message",
      "webhookId": "cfbe2b76-06ce-480b-9ab2-420700e8c06f",
      "credentials": {
        "telegramApi": {
          "id": "lIdnYF8E2qK7BfYa",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2e48083e-1b41-8043-ab85-eb52330a4747",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Caption|rich_text",
              "textContent": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "key": "Image|url",
              "urlValue": "https://image.pollinations.ai/prompt/{{ $('AI Agent').item.json.output }}?model=flux"
            },
            {
              "key": "Status|status",
              "statusValue": "Draft"
            },
            {
              "key": "No|title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ],
      "id": "7fd1b668-210b-481e-aeac-4e653e498269",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "73AKA0FFnh1qTxZd",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "0xC8BFGltlTItJBU"
  },
  "versionId": "1d82a426-88b1-47af-8771-04a1c7cae2f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5be75e3cc304e5657a31c0239c6d3da417296cb23afe6c1e2d21f6607f4d0ea3"
  },
  "id": "RdC0HWZs8tSxh9Ug",
  "tags": []
}