Vintage Price Checker.json
{
  "name": "demo tele to sheet data adding",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "93e52269-04ae-45c3-accb-4f97a8e9ed26",
      "name": "Telegram Trigger",
      "webhookId": "8de547b5-ecef-4129-93d6-9e2a0604ddab",
      "credentials": {
        "telegramApi": {
          "id": "OSXWebFeGK2L5OsO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// AI Agent ဆီကလာတဲ့ output က စာသားဖြစ်နေရင် JSON အဖြစ်ပြောင်းမယ်\nconst aiText = $json.output;\n\nif (typeof aiText === 'string') {\n  // markdown အမှိုက်တွေပါရင် ဖယ်မယ်\n  const cleanJson = aiText.replace(/`json|```/g, '').trim();\n  return JSON.parse(cleanJson);\n} else {\n  // စာသားမဟုတ်ရင် ဒီအတိုင်းပြန်ပေးမယ်\n  return aiText;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        0
      ],
      "id": "8ebfb588-3267-4b4e-a25a-97484e4b8e79",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1K6XV6hq8mY-tAxeCmft9Bq-uMu9_Xg2XaVqWinpKqeI",
          "mode": "list",
          "cachedResultName": "vintage sheet demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K6XV6hq8mY-tAxeCmft9Bq-uMu9_Xg2XaVqWinpKqeI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K6XV6hq8mY-tAxeCmft9Bq-uMu9_Xg2XaVqWinpKqeI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Item": "={{ $json.item }}",
            "Brand ": "={{ $json.brand }}",
            "Original Price": "={{ $json.original_price }}",
            "Resell Price": "={{ $json.resell_price }}",
            "Color": "={{ $json.color }}",
            "Design": "={{ $json.design }}",
            "Ages": "={{ $json.ages }}",
            "History": "={{ $json.history }}",
            "Condition": "={{ $json.rank }}",
            "Found Place ": "={{ $json.found_place }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand ",
              "displayName": "Brand ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Original Price",
              "displayName": "Original Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resell Price",
              "displayName": "Resell Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Color",
              "displayName": "Color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Design",
              "displayName": "Design",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ages",
              "displayName": "Ages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "History",
              "displayName": "History",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Condition",
              "displayName": "Condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Found Place ",
              "displayName": "Found Place ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        0
      ],
      "id": "e59abc0f-58d3-490e-bfad-9dc50ccb7c24",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "d68MH8k3bs2IIcIF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a JSON API that outputs ONLY raw JSON.\nDO NOT use markdown formatting (no `json, no bold).\nDO NOT write any introductory text.\n\nAnalyze the user's input (and image if present) and return this JSON structure:\n{\n  \"item\": \"Translate to Burmese\",\n  \"brand\": \"Brand Name\",\n  \"original_price\": \"1000 THB / 30 USD\",\n  \"resell_price\": \"2000 THB / 60 USD\",\n  \"color\": \"Translate to Burmese\",\n  \"design\": \"Translate to Burmese\",\n  \"ages\": \"90s\",\n  \"history\": \"Short story in Burmese\",\n  \"rank\": \"A\",\n  \"found_place\": \"Unknown\"\n}\n\nUser Input:{{ $json.message.chat }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "74000966-8496-4853-8665-831c346adff8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "07b05162-fdba-45d5-aee3-b402db1932a6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5Ms7ucwXaxvy4RU3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2cca70e4-9308-4f75-ba67-20a032fc7b77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5be75e3cc304e5657a31c0239c6d3da417296cb23afe6c1e2d21f6607f4d0ea3"
  },
  "id": "kpvxwnuR3WgkUheD",
  "tags": []
}