​01-automated-job-hunter/Automated Job Hunter.Json
{
  "name": "demo finding job with schedule trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        128
      ],
      "id": "f5e5d4b2-ca6d-4f4d-84e5-875664cff5b6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Check if this job matches my CV: \nTitle: {{ $json.title }}\nSnippet: {{ $json.snippet }}\nLink: {{ $json.link }}\n\nIF IT IS A MATCH, you MUST output in this format:\n📌 Job: {{ $json.title }}\n🔗 Application Link: <a href=\"{{ $json.link }}\">Click here to apply</a>\n\n---\n💡 Match Analysis: [Short explanation]\n✍️ Personalized Message: \n[Generate the human-like message here]",
        "options": {
          "systemMessage": "\"You are a Career Manager for victor.\nCandidate Data:\n​CV Link: https://drive.google.com/file/d/1dwFrfHjHtbjbvxKdeQ7mK5TKLKxFK5Dn/view?usp=sharing\n​GitHub: https://github.com/ahk1542001-wq/n8n-automation-portfolio\n​Core Skills: n8n, Docker, Python, JavaScript.\n​Instructions:\n​Compare the job with the CV.\n​If it matches, write a human-sounding (no clichés) intro message. Mention specific GitHub projects like the Video Factory.\n​If no match, strictly return: No match.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1776,
        144
      ],
      "id": "00832047-a639-4e61-9d57-5b12b52a15d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1776,
        368
      ],
      "id": "9ec9400b-17e1-4550-b2ba-c69298ccd7f5",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "JKdVQwLIZz4rwzCR",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1488,
        128
      ],
      "id": "9e64949e-b5c5-457b-b251-2addfa39022e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2624,
        400
      ],
      "id": "f1d45147-a80f-4a48-bcdc-100ea10123a8",
      "name": "Wait",
      "webhookId": "fd4a0fcf-4a63-421a-8af1-b1b6f9e58e6a"
    },
    {
      "parameters": {
        "q": "site:linkedin.com/jobs/view \"Automation Engineer\" Bangkok",
        "location": "Thailand",
        "additionalFields": {
          "tbs": "tbs=qdr:d"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        208,
        128
      ],
      "id": "8de3c833-017e-431c-8fd6-995280184866",
      "name": "Google search",
      "credentials": {
        "serpApi": {
          "id": "hK7yfJqKe2LPGXiD",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "\"Extract all automation jobs from the search results. Ensure the 'link' is the direct website URL and include the full snippet text.\"",
        "options": {
          "systemMessage": "\"You are a Data Extraction Specialist. Your job is to take search results and turn them into a clean JSON array.\nOutput Format (STRICT):\n[{\"title\": \"Job Name\", \"link\": \"Direct URL\", \"snippet\": \"Description\"}]\nOnly output the JSON. No conversational text.\"\n​User Prompt:\n\"When extracting the job link, you MUST use the 'link' property from the search results. DO NOT use 'redirect_link'. Ensure the URL starts with https:// and leads directly to the job site (e.g., glassdoor.com, linkedin.com).\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        128
      ],
      "id": "78009e48-472f-4fc9-89b4-9f736cb9abbe",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        288,
        336
      ],
      "id": "5813c076-7035-4322-a433-b24605696a07",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "JKdVQwLIZz4rwzCR",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ၁။ AI Agent 1 ဆီကလာတဲ့ Output (စာသား) ကို ယူမယ်\nconst aiRawOutput = $node[\"AI Agent1\"].json.output;\nlet jobsArray = []; // ဒီမှာ jobsArray ကို အရင် define လုပ်ပေးရပါတယ်\n\ntry {\n    // ၂။ စာသားထဲက JSON Array ကို ဆွဲထုတ်မယ်\n    const jsonMatch = aiRawOutput.match(/\\[.*\\]/s);\n    if (jsonMatch) {\n        jobsArray = JSON.parse(jsonMatch[0]);\n    } else {\n        jobsArray = JSON.parse(aiRawOutput);\n    }\n} catch (e) {\n    return [{ json: { error: \"Parse Error: AI output is not valid JSON\" } }];\n}\n\n// ၃။ Link တွေကို သန့်စင်ပေးမယ့်အပိုင်း\nreturn jobsArray.map(job => {\n    let rawLink = job.link || \"\";\n    let finalLink = rawLink;\n\n    // Google Redirect Link ဖြစ်နေရင် Direct Link ပြောင်းမယ်\n    if (rawLink.includes(\"google.com/url?\")) {\n        try {\n            const urlParams = new URLSearchParams(rawLink.split('?')[1]);\n            finalLink = urlParams.get('url') || rawLink;\n        } catch (err) {}\n    }\n    \n    // LinkedIn link ဖြစ်ရင် tracking code တွေ ဖြတ်မယ် (Link အသေမဖြစ်အောင်)\n    if (finalLink.includes(\"linkedin.com/jobs\")) {\n        finalLink = finalLink.split('?')[0];\n    }\n\n    return {\n        json: {\n            title: job.title || \"No Title\",\n            link: finalLink,\n            snippet: job.snippet || \"No Description\"\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        128
      ],
      "id": "7a091eb8-69d9-4f18-8362-239aeea08014",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "919432208",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2592,
        144
      ],
      "id": "eca231e3-e3c3-4b18-8ccc-56a78c859985",
      "name": "Send a text message",
      "webhookId": "7d16df3a-5453-4b8c-af72-b117f207caa0",
      "credentials": {
        "telegramApi": {
          "id": "lIdnYF8E2qK7BfYa",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f0ff7936-bb3d-4fa0-8753-82f09ea96b0e",
              "leftValue": "",
              "rightValue": "No match",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2128,
        144
      ],
      "id": "e5726c52-1f95-46f3-b276-a80a10abc7a4",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google search": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "0xC8BFGltlTItJBU"
  },
  "versionId": "91916422-c12b-4c7c-bcd3-01611ed7872c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5be75e3cc304e5657a31c0239c6d3da417296cb23afe6c1e2d21f6607f4d0ea3"
  },
  "id": "c3hHN9Ws33WKisNl",
  "tags": []
}
