AI Voice Receptionist for Dental Clinic (Vapi + n8n)/ZIP/MAIN - Vapi Router
{
  "name": "MAIN - Vapi MCP Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-clinic-mcp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Vapi Webhook",
      "position": [240, 352],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "YOUR_WEBHOOK_ID",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "id": "rule-client", "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}", "operator": { "operation": "equals", "type": "string" }, "rightValue": "client_lookup" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "client_lookup"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "id": "rule-avail", "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}", "operator": { "operation": "equals", "type": "string" }, "rightValue": "check_availability" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "check_availability"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "id": "rule-book", "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}", "operator": { "operation": "equals", "type": "string" }, "rightValue": "book_appointment" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "book_appointment"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "id": "rule-update", "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}", "operator": { "operation": "equals", "type": "string" }, "rightValue": "update_appointment" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_appointment"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "id": "rule-delete", "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}", "operator": { "operation": "equals", "type": "string" }, "rightValue": "delete_appointment" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete_appointment"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-router",
      "name": "Tool Router",
      "position": [480, 352],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "id", "value": "h8Pg6obaQcWdIPra" },
        "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true },
        "options": {}
      },
      "id": "exec-client-lookup",
      "name": "Client Lookup",
      "position": [752, 112],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "id", "value": "ERNM1mKknTcdUCCN" },
        "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true },
        "options": {}
      },
      "id": "exec-check-availability",
      "name": "Check Availability",
      "position": [752, 240],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "id", "value": "F2RrN5WwWg0cotDG" },
        "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true },
        "options": {}
      },
      "id": "exec-book-appointment",
      "name": "Book Appointment",
      "position": [752, 384],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "id", "value": "pQbLoVbuudUknMU0" },
        "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true },
        "options": {}
      },
      "id": "exec-update-appt",
      "name": "Update Appointment",
      "position": [752, 528],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "id", "value": "2h0cqUDi3qjKbbHg" },
        "options": {}
      },
      "id": "exec-delete-appt",
      "name": "Delete Appointment",
      "position": [752, 672],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Vapi Webhook').first().json.body.message.toolCalls[0].id, result: JSON.stringify(Object.keys($json).length > 0 ? $json : { error: true, result: 'I am having trouble looking up patient records right now. Please try again in a moment.' }) }] }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-client-lookup",
      "name": "Respond Client Lookup",
      "position": [992, 112],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Vapi Webhook').first().json.body.message.toolCalls[0].id, result: JSON.stringify(Object.keys($json).length > 0 ? $json : { error: true, result: 'I am having trouble checking the calendar right now. Please try again shortly or call us directly.' }) }] }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-check-availability",
      "name": "Respond Check Availability",
      "position": [992, 240],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Vapi Webhook').first().json.body.message.toolCalls[0].id, result: JSON.stringify(Object.keys($json).length > 0 ? $json : { error: true, result: 'I am having trouble booking the appointment right now. Our team will call you back to confirm. Please provide your name and number.' }) }] }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-book-appointment",
      "name": "Respond Book Appointment",
      "position": [992, 384],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Vapi Webhook').first().json.body.message.toolCalls[0].id, result: JSON.stringify(Object.keys($json).length > 0 ? $json : { error: true, result: 'I am having trouble updating the appointment right now. Our team will contact you to confirm the reschedule.' }) }] }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-update-appt",
      "name": "Respond Update Appointment",
      "position": [992, 528],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Vapi Webhook').first().json.body.message.toolCalls[0].id, result: JSON.stringify(Object.keys($json).length > 0 ? $json : { error: true, result: 'I am having trouble canceling the appointment right now. Our team will confirm the cancellation with you shortly.' }) }] }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-delete-appt",
      "name": "Respond Delete Appointment",
      "position": [992, 672],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    }
  ],
  "pinData": {},
  "connections": {
    "Book Appointment": { "main": [[{ "index": 0, "node": "Respond Book Appointment", "type": "main" }]] },
    "Check Availability": { "main": [[{ "index": 0, "node": "Respond Check Availability", "type": "main" }]] },
    "Client Lookup": { "main": [[{ "index": 0, "node": "Respond Client Lookup", "type": "main" }]] },
    "Delete Appointment": { "main": [[{ "index": 0, "node": "Respond Delete Appointment", "type": "main" }]] },
    "Tool Router": {
      "main": [
        [{ "index": 0, "node": "Client Lookup", "type": "main" }],
        [{ "index": 0, "node": "Check Availability", "type": "main" }],
        [{ "index": 0, "node": "Book Appointment", "type": "main" }],
        [{ "index": 0, "node": "Update Appointment", "type": "main" }],
        [{ "index": 0, "node": "Delete Appointment", "type": "main" }]
      ]
    },
    "Update Appointment": { "main": [[{ "index": 0, "node": "Respond Update Appointment", "type": "main" }]] },
    "Vapi Webhook": { "main": [[{ "index": 0, "node": "Tool Router", "type": "main" }]] }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "YOUR_ERROR_WORKFLOW_ID",
    "executionTimeout": -1,
    "binaryMode": "separate"
  },
  "versionId": "39a836cf-99db-494e-9ba9-26a9ab7a9f8e",
  "meta": { "instanceId": "YOUR_INSTANCE_ID" },
  "id": "KnVk0etywhddMjY7",
  "tags": []
}
