AI Voice Receptionist for Dental Clinic (Vapi + n8n)/ZIP/SUB - Book Appointment
{
  "name": "SUB - Book Appointment",
  "nodes": [
    { "parameters": { "inputSource": "passthrough" }, "id": "book-trigger", "name": "Execute Workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1 },
    { "parameters": { "jsCode": "const input = $input.first().json;\nlet args = {};\ntry { args = input.body.message.toolCalls[0].function.arguments; } catch(e) { args = input; }\nconst patientName  = args.name   ? String(args.name).trim()   : '';\nconst patientPhone = args.phone  ? String(args.phone).trim()  : '';\nconst apptDate     = args.date   ? String(args.date).trim()   : '';\nconst apptTime     = args.time   ? String(args.time).trim()   : '';\nconst reason       = args.reason ? String(args.reason).trim() : 'General Consultation';\nconst missing = [];\nif (!patientName)  missing.push('patient name');\nif (!patientPhone) missing.push('phone number');\nif (!apptDate)     missing.push('appointment date');\nif (!apptTime)     missing.push('appointment time');\nlet startISO = ''; let endISO = '';\nif (apptDate && apptTime) {\n  const p = apptTime.split(':').map(Number);\n  const h = p[0]; const m = p[1] ? p[1] : 0;\n  const start = new Date(apptDate + 'T' + String(h).padStart(2,'0') + ':' + String(m).padStart(2,'0') + ':00+06:30');\n  startISO = start.toISOString();\n  endISO   = new Date(start.getTime() + 30*60*1000).toISOString();\n}\nconst bookingId = 'VD-' + Date.now().toString().slice(-6);\nconst bookedAt  = new Date(Date.now() + 6.5*60*60*1000).toISOString().replace('T',' ').split('.')[0];\nconst validFlag = missing.length === 0 ? 'yes' : 'no';\nreturn [{ json: {\n  validFlag, missingFields: missing,\n  bookingId, patientName, patientPhone, apptDate, apptTime, reason, startISO, endISO, bookedAt,\n  eventSummary: 'Booking for ' + patientName + ' - ' + patientPhone\n}}];" }, "id": "book-extract", "name": "Extract Booking Details", "type": "n8n-nodes-base.code", "typeVersion": 2 },
    { "parameters": { "conditions": { "combinator": "and", "conditions": [ { "id": "check-valid", "leftValue": "={{ $json.validFlag }}", "operator": { "operation": "equals", "type": "string" }, "rightValue": "yes" } ], "options": {} } }, "id": "book-validate", "name": "All Details Present?", "type": "n8n-nodes-base.if", "typeVersion": 2.2 },
    { "parameters": { "calendar": { "__rl": true, "value": "YOUR_CALENDAR_ID@group.calendar.google.com", "mode": "list" }, "start": "={{ $('Extract Booking Details').first().json.startISO }}", "end": "={{ $('Extract Booking Details').first().json.endISO }}", "additionalFields": { "description": "={{ 'Patient: ' + $('Extract Booking Details').first().json.patientName + ' | Phone: ' + $('Extract Booking Details').first().json.patientPhone + ' | Reason: ' + $('Extract Booking Details').first().json.reason + ' | ID: ' + $('Extract Booking Details').first().json.bookingId }}", "summary": "={{ $('Extract Booking Details').first().json.eventSummary }}" } }, "id": "book-calendar", "name": "Create Calendar Event", "type": "n8n-nodes-base.googleCalendar", "typeVersion": 1.3, "credentials": { "googleCalendarOAuth2Api": { "id": "YOUR_CALENDAR_CRED_ID", "name": "Google Calendar account" } } },
    { "parameters": { "operation": "append", "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID_HERE", "mode": "list" }, "sheetName": { "__rl": true, "value": "gid=0", "mode": "list" }, "columns": { "mappingMode": "defineBelow", "value": { "Date": "={{ $('Extract Booking Details').first().json.apptDate }}", "Phone": "={{ $('Extract Booking Details').first().json.patientPhone }}", "Reason": "={{ $('Extract Booking Details').first().json.reason }}", "Status": "Booked", "Time": "={{ $('Extract Booking Details').first().json.apptTime }}", "Name": "={{ $('Extract Booking Details').first().json.patientName }}" }, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": false }, "options": {} }, "id": "book-sheets", "name": "Add to CRM Sheet", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_SHEETS_CRED_ID", "name": "Google Sheets account" } }, "onError": "continueRegularOutput" },
    { "parameters": { "assignments": { "assignments": [ { "id": "r1", "name": "result", "type": "string", "value": "=Successfully booked in both Calendar and CRM" }, { "id": "r2", "name": "message", "type": "string", "value": "={{ 'Appointment confirmed! Booking ID: ' + $('Extract Booking Details').first().json.bookingId + '. ' + $('Extract Booking Details').first().json.patientName + ' is booked on ' + $('Extract Booking Details').first().json.apptDate + ' at ' + $('Extract Booking Details').first().json.apptTime }}" }, { "id": "r3", "name": "success", "type": "boolean", "value": "=true" } ] }, "options": {} }, "id": "book-confirm", "name": "Booking Confirmed Response", "type": "n8n-nodes-base.set", "typeVersion": 3.4 },
    { "parameters": { "assignments": { "assignments": [ { "id": "m1", "name": "result", "type": "string", "value": "={{ 'To complete the booking I still need: ' + $json.missingFields.join(', ') + '. Could you provide these?' }}" }, { "id": "m2", "name": "success", "type": "boolean", "value": "=false" } ] }, "options": {} }, "id": "book-missing", "name": "Missing Info Response", "type": "n8n-nodes-base.set", "typeVersion": 3.4 }
  ],
  "connections": {
    "Add to CRM Sheet": { "main": [ [ { "node": "Booking Confirmed Response", "type": "main", "index": 0 } ] ] },
    "All Details Present?": { "main": [ [ { "node": "Create Calendar Event", "type": "main", "index": 0 } ], [ { "node": "Missing Info Response", "type": "main", "index": 0 } ] ] },
    "Create Calendar Event": { "main": [ [ { "node": "Add to CRM Sheet", "type": "main", "index": 0 } ] ] },
    "Execute Workflow Trigger": { "main": [ [ { "node": "Extract Booking Details", "type": "main", "index": 0 } ] ] },
    "Extract Booking Details": { "main": [ [ { "node": "All Details Present?", "type": "main", "index": 0 } ] ] }
  },
  "active": false, "id": "YOUR_WORKFLOW_ID"
}
